a.cbxON,a.cbxOFF {background-color:#eee;box-shadow:inset 0px 1px 3px 0px #333;font-weight:bold;font-size:14px;cursor:pointer;}
a.cbxOFF:before,a.cbxON:after{position:relative;content:"OFF";display:inline-block;padding-top:5px;height:22px;width:46px;border-radius:7px;background-color:#ddd;color:#333;text-align:center;border:1px solid #999;box-shadow:inset 0px 0px 2px 0px #777;}
a.cbxON:after{left:42px;content:"ON";background-color:#4F95EB;color:#fff;border:1px solid #1c62b8;box-shadow:inset 0px 0px 2px 0px #444;}
input{text-align:right;color:#666;font-weight:bold}
select{width: 90px;height: 29px;border-radius: 9px;margin-top:-5px;font-size: 14px;}
li.optionsel{font-weight:bold;}
#portname,#none,#varportval,#perportval,#portval,#inport{text-align:center;width:90px}
#none,#minvalue,#maxvalue,#tolerance,#duration,#address,#register,#funct{width:90px}