@import url(029.css);
body{font-family:Helvetica, Arial, sans-serif;background-color:#222;margin:0px;}
#main:before,li{background-image:-webkit-linear-gradient(#FFF,#ccc)}
#main:before{content:"ODControl2";display:block;font-size:24px;text-align:center;color:#009;padding:10px;}
#main{margin-left:auto;margin-right:auto;max-width:440px;width:100%;background-color:#fff;min-height:300px;}
#h>a{padding:5px;color:#000;display:inline-block;}
li{list-style:none;padding:14px;margin:2px;}
li a, li input{display: inline-block; float:right;height:27px;width:150px;border:1px solid #ccc;border-radius: 12px;margin-top:-5px;}
.DO a {width: 90px;background-color:#999;}
.DO a.OFF:before,.DO a.ON:after{position:relative;content:" ";display:inline-block;height:20px;width:20px;border:3px solid #FFF;border-radius: 50%;background-color:#00c;}
.DI a.ON{background-color: #060;}
.AI a{text-align: center;}
.DO a.ON:after{left: 60px;}
.DO a.OFF:after {right: 0px;}
